{% extends 'base.html.twig' %}

{% block title %}Basic HTML Demo{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #jstree1, #jstree2, .jstree-basic {
            max-width: 100%;
            overflow: auto;
            font: 10px Verdana, sans-serif;
            box-shadow: 0 0 5px #ccc;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    {% set _sc = '@survos/tree-bundle/tree' %}

    {% for block_name in ['root_nodes', 'nodes_with_children'] %}
        <h3>{{ block_name|title }}</h3>
<div {{ stimulus_controller(_sc) }}>
    <div {{ stimulus_target(_sc, 'html') }}>
        {{ block(block_name) }}
    </div>
</div>
    {% endfor %}

{% endblock %}

{% block root_nodes %}
            <ul>
                <li class="jstree-open">Root node 1</li>
                <li>Root node 2
                </li>
            </ul>
{% endblock %}

{% block nodes_with_children %}
                <ul>
                    <li>Root node 1
                        <ul>
                            <li>Child node 1</li>
                            <li><a href="#">nodes_with_children node 2</a></li>
                        </ul>
                    </li>
                </ul>
{% endblock %}
