
{% extends 'base.html.twig' %}

{% block title %}Basic AJAX Demo{% endblock %}


{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('tree-api') }}
{% endblock %}

{% block body %}

    {# this is really for basic-ajax, which we've lost...
    {% set url =  path('app_tree_fetch', {file: 'alt-format.json'}) %}
    #}
    {# need format, since default format is json+ld #}
    {% set apiUrl =  path('api_locations_get_collection') %}

    {# ... box widget with defaults ... #}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {% block box_title %}Location API{% endblock %}
        {% block box_body %}
            <div class="callout callout-info">
                <div id="location_manager" class="js-demo"
                     data-api-base="{{ apiUrl }}"
                     data-post-building-id="1"
                >
                    id="location_manager"
                    The location manager goes here.

                </div>

            </div>
        {% endblock %}

        {% block box_footer %}
            <div class="pull-right">
                    <span id="config"
                          data-save-url="{{ path('app_tree_save') }}"
                          data-api-url="{{ apiUrl }}"
                    ></span>

                {{ btn.link_button('api_locations_get_collection',apiUrl) }}
            </div>
        {% endblock %}
    {% endembed %}


<div class="container" id="content">
    <div class="row page" id="demo">
        <div class="col-md-12">
            <h3>API Platform AJAX demo</h3>
            <div class="row">
                <div class="col-md-4 col-sm-8 col-xs-8">
                    <button type="button" class="btn btn-success btn-sm js-create" ><i class="glyphicon glyphicon-asterisk"></i> Create</button>
                    <button type="button" class="btn btn-warning btn-sm js-rename" ><i class="glyphicon glyphicon-pencil"></i> Rename</button>
                    <button type="button" class="btn btn-danger btn-sm js-delete" ><i class="glyphicon glyphicon-remove"></i> Delete</button>

                    <button id="js_save_button" type="button" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Save</button>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4" style="text-align:right;">
                    <input type="text" value="" style="box-shadow:inset 0 0 4px #eee; width:120px; margin:0; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;" id="demo_q" placeholder="Search" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div id="jstree_demo" class="demo" style="margin-top:1em; min-height:200px;"><code>jstree_demo</code></div>

                    The API URL IS {{ apiUrl }}


                    This is kinda cool, too.: https://github.com/alesmit/jquery-hortree

                    <hr />


                </div>

                <div class="col-md-4">
                    <h3>Events</h3>
                    <div id="jstree_event_log"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
