{% extends 'layout.html.twig' %}

{#{% set _sc = '@survos/tree-bundle/tree' %}#}
    {% set _sc = 'jstree' %}

{% block title %}Directory Demo, uses twig-tree-tag, {{ _sc }}{% endblock %}

{% block body %}
    <span class="bi-alarm"></span>
    <h3>{{ block('title') }}</h3>

    <div
            {{ stimulus_controller(_sc, {
                "types" : {
                    "default" : {
                        "icon" : "bi-alarm"
                    },
                    "demo" : {
                        "icon" : "glyphicon glyphicon-ok"
                    }
                },
                plugins: ['search', 'sort', 'types']
            }) }}
    >

        <input
                {{ stimulus_action(_sc, 'search') }}
                type="text"
                value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;" />

        <div             {{ stimulus_target(_sc, 'html') }}>

        {% tree e in entities %}
                {% if treeloop.first %}<ul>{% endif %}
                <li>
{#                        {{ treeloop.level }}#}
                        {{ e.name }}
                    <sup>{{ e.childCount }}</sup>
                    <sup>/{{ e.lvl }}</sup>
{#                    <a href="#{{ e.id }}">#}
{#                    </a>#}
                    {% subtree e.children %}
                </li>
                {% if treeloop.last %}</ul>{% endif %}
            {% endtree %}
    </div>

    </div>


{#    {% set _sc = 'jstree' %}#}
{#    <div {{ stimulus_controller(_sc) }}>#}
{#        <div id="html1" class="jstree-basic" {{ stimulus_target(_sc, 'html') }}>#}
{#            {% if html|default(false) %}#}
{#                {{ html|raw }}#}
{#            {% else %}#}
{#                <ul>#}
{#                    <li>Root node 1</li>#}
{#                    <li>Root node 2</li>#}
{#                </ul>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}


    {{ html|raw }}

    <a class="btn btn-danger" href="{{ path('app_load_' ~ entity) }}">Reload {{ entity }}</a>

    {% set apiUrl =  path('api_%s_get_collection'|format(entity), {_format: 'json'}) %}
    Files from this repo (demo), using
    <a target="_blank" href="{{ apiUrl }}">
        {{ apiUrl }}
    </a>


    <div id="file_manager" class="demo"
         data-api-base="{{ apiUrl }}"
    >
        {{ entity }}from this repo (demo), using {{ apiUrl }}

    </div>

{% endblock %}
