{% extends 'layout.html.twig' %}

{#{% set _sc = '@survos/tree-bundle/tree' %}#}

{% block title %}{{ _self}} Demo, uses twig-tree-tag{% endblock %}

{% block body %}
    <span class="bi-alarm"></span>
    <h3>{{ block('title') }}</h3>

    {% set _sc = 'topic' %}
    <div {{ stimulus_controller(_sc) }}>
        <h3 {{ stimulus_target(_sc, 'title') }}>TOPIC title</h3>
        <div {{ stimulus_target(_sc, 'topic_results') }}>TOPIC results</div>
    </div>

    <div class="row">
        <div class="col-md-3">
            {{ block('tree') }}
        </div>
        <div class="col-md-9">
            {% set _sc = 'file_browser' %}
            <div {{ stimulus_controller(_sc, {
                sourcePath: path('app_file_source')
            }) }}>
                <h3 {{ stimulus_target(_sc, 'title') }}></h3>
                <pre {{ stimulus_target(_sc, 'content') }}>
                    put the file contents here.
                </pre>
            </div>
        </div>
    </div>

    {% endblock %}

{% block tree %}
    {% set _sc = 'jstree' %}
    <div
            {{ stimulus_controller(_sc, {

                "types" : {
                    "default" : {
                        "icon" : "bi-alarm"
                    },
                    "php" : {
                        "icon" : "bi bi-filetype-php"
                    },
                    "json" : {
                        "icon" : "bi bi-filetype-json"
                    },
                    "js" : {
                        "icon" : "bi bi-filetype-js"
                    },
                    "yaml" : {
                        "icon" : "bi bi-filetype-yaml"
                    },
                    "css" : {
                        "icon" : "bi bi-filetype-css"
                    },
                    "dir" : {
                        "icon" : "bi bi-arrow-down-right-square"
                    },
                    "demo" : {
                        "icon" : "glyphicon glyphicon-ok"
                    }
                },
                plugins: ['search', 'sort', 'types']
            }) }}
    >

        <input
                {{ stimulus_action(_sc, 'search') }}
                type="text"
                value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;" />

        <div             {{ stimulus_target(_sc, 'html') }}>

        {% tree e in entities %}
                {% if treeloop.first %}<ul>{% endif %}
                <li
                        data-path="{{ e.path }}"
                        data-type="{{ e.isDir ? 'dir' : 'file' }}"
                        data-jstree='{"path": "{{ e.path }}", "type":"{{ e.isDir ? 'dir' : e.extension }}"}}'>
{#                        {{ treeloop.level }}#}
                        {{ e.name }}
                    <sup>{{ e.isDir ? e.childCount }}</sup>
{#                    <a href="#{{ e.id }}">#}
{#                    </a>#}
                    {% subtree e.children %}
                </li>
                {% if treeloop.last %}</ul>{% endif %}
            {% endtree %}
    </div>

    </div>


{#    {% set _sc = 'jstree' %}#}
{#    <div {{ stimulus_controller(_sc) }}>#}
{#        <div id="html1" class="jstree-basic" {{ stimulus_target(_sc, 'html') }}>#}
{#            {% if html|default(false) %}#}
{#                {{ html|raw }}#}
{#            {% else %}#}
{#                <ul>#}
{#                    <li>Root node 1</li>#}
{#                    <li>Root node 2</li>#}
{#                </ul>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}


    {{ html|raw }}

    <a class="btn btn-danger" href="{{ path('app_load_' ~ entity) }}">Reload {{ entity }}</a>

{% endblock %}
