
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('directory') }}
{% endblock %}

{% block title %}Directory Demo{% endblock %}

{% block body %}
<h3>{{ block('title') }}</h3>

    <a class="btn btn-danger" href="{{ path('app_load_files') }}">Reload Directory</a>


    {% set apiUrl =  path('api_files_get_collection', {_format: 'json'}) %}
    Files from this repo (demo), using
    <a target="_blank" href="{{ apiUrl }}">
        {{ apiUrl }}
    </a>

<div id="file_manager" class="demo"
     data-api-base="{{ apiUrl }}"
>
    Files from this repo (demo), using {{ apiUrl }}

</div>

{% endblock %}
