{% extends 'layout.html.twig' %}

{#{% block sidebar 'hidden while offline' %}#}
{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('directory') }}#}
{% endblock %}

{% block title %}Directory Demo, uses twig-tree-tag, jstree-simulus{% endblock %}

{% block body %}
    <h3>{{ block('title') }}</h3>


    {% set _sc = 'jstree' %}

    <div {{ stimulus_controller(_sc) }}>
{#            {% apply prettify %}#}
            {% tree e in entities %}
                {% if treeloop.first %}<ul>{% endif %}
                <li>
{#                        {{ treeloop.level }}#}
                        {{ e }}
{#                    <a href="#{{ e.id }}">#}
{#                    </a>#}
                    {% subtree e.children %}
                </li>
                {% if treeloop.last %}</ul>{% endif %}
            {% endtree %}
{#            {% endapply %}#}
        <div {{ stimulus_target(_sc, 'html') }}>
        </div>
    </div>


    {% set _sc = 'jstree' %}
    <div {{ stimulus_controller(_sc) }}>
        <div id="html1" class="jstree-basic" {{ stimulus_target(_sc, 'html') }}>
            {% if html|default(false) %}
                {{ html|raw }}
            {% else %}
                <ul>
                    <li>Root node 1</li>
                    <li>Root node 2</li>
                </ul>
            {% endif %}
        </div>
    </div>


    {{ html|raw }}

    <a class="btn btn-danger" href="{{ path('app_load_' ~ entity) }}">Reload {{ entity }}</a>

    {% set apiUrl =  path('api_%s_get_collection'|format(entity), {_format: 'json'}) %}
    Files from this repo (demo), using
    <a target="_blank" href="{{ apiUrl }}">
        {{ apiUrl }}
    </a>


    <div id="file_manager" class="demo"
         data-api-base="{{ apiUrl }}"
    >
        {{ entity }}from this repo (demo), using {{ apiUrl }}

    </div>

{% endblock %}
