{% extends 'base.html.twig' %}

{% block title %}Building index{% endblock %}

{% block body %}


{#    {% set apiUrl = api_route(buildingClass) %}#}
{#    <div id="location_manager"#}
{#         class="demo"#}
{#         data-api-base="{{ apiUrl }}"#}
{#    >#}
{#        <h3>All Buildings:</h3>#}
{#        <div id="all_locations" class="demo"></div>#}
{#        <hr />#}

{#    </div>#}


    <h1>Building index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>#Locations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td>{{ building.id }}</td>
                <td>{{ building.name }}</td>
                <td>{{ building.locations.count }}</td>
                <td>
                    <a href="{{ path('building_show', building.rp) }}">show</a>
                    <a href="{{ path('building_edit', building.rp) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('building_new') }}">Create new</a>
{% endblock %}
