{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('building_show') }}#}
{% endblock %}

{% block title %}Building {{ building.name }}{% endblock %}

{% block body %}
<h3>{{ block('title') }}</h3>

{% set apiUrl =  path('api_locations_get_collection', {_format: 'json'}) %}

<h3>Tree</h3>
{% set _controller = 'jstree' %}
<div
        {{ stimulus_controller(_controller) }}
{#        {{ stimulus_target(_controller, 'html')#}
        }}>

{% tree item in building.locations %}
    {% if treeloop.first %}<ul >{% endif %}
    <li class="jstree-open">
        #{{ treeloop.index }}
        {{ item.name }}
{#        <a href="{{ path('build') }}">{{ item.name }}</a>#}
        {% subtree item.children %}
    </li>
    {% if treeloop.last %}</ul>{% endif %}
{% endtree %}
</div>

<h3>Using locationManagerApp/{{ apiUrl }}</h3>
<div id="location_manager" class="demo"
     data-building-id="{{ building.id }}"
     data-api-base="{{ apiUrl }}"
>
    <div id="all_locations" class="demo"></div>
    <hr />
    <div id="building_locations"
         data-building-id="{{ building.id }}" class="demo"></div>


<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ building.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ building.name }}</td>
            </tr>
        </tbody>
    </table>

    <h3>
        {{ building.name }} Locations:
    </h3>


    {% for location in building.locations %}
        <li>
            {{ location.parent ? location.parent.name }} /
            {{ location.name }}
        </li>
    {% endfor %}

    <a href="{{ path('building_index') }}">back to list</a>

    <a href="{{ path('building_edit', {'id': building.id}) }}">edit</a>

    {{ include('building/_delete_form.html.twig') }}
{% endblock %}
