{% extends 'layout.html.twig' %}

{#{% set _sc = '@survos/tree-bundle/tree' %}#}
{% set _sc = 'jstree' %}

    {% block title %}Topics ({{ _sc }}){% endblock %}

{% block body %}
    <h3>{{ block('title') }}</h3>

    <div
            {{ stimulus_controller(_sc, {
                plugins: ['search', 'sort', 'types']
            }) }}
    >

        <input
                {{ stimulus_action(_sc, 'search') }}
                type="text"
                value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;" />

        <div             {{ stimulus_target(_sc, 'html') }}>

        {% tree e in entities %}
                {% if treeloop.first %}<ul>{% endif %}
                <li data-jstree='{"type":""}'>
{#                        {{ treeloop.level }}#}
                        {{ e.name }}
                    <sup class="badge bg-info text-sm"><small>{{ e.childCount ? e.childCount }}</small></sup>
{#                    <a href="#{{ e.id }}">#}
{#                    </a>#}
                    {% subtree e.children %}
                </li>
                {% if treeloop.last %}</ul>{% endif %}
            {% endtree %}
    </div>

    </div>


{#    {% set _sc = 'jstree' %}#}
{#    <div {{ stimulus_controller(_sc) }}>#}
{#        <div id="html1" class="jstree-basic" {{ stimulus_target(_sc, 'html') }}>#}
{#            {% if html|default(false) %}#}
{#                {{ html|raw }}#}
{#            {% else %}#}
{#                <ul>#}
{#                    <li>Root node 1</li>#}
{#                    <li>Root node 2</li>#}
{#                </ul>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}


    {{ html|raw }}

{% endblock %}
