{% extends 'base.html.twig' %}

{% block title %}Topics (HTML Tree){% endblock %}

{% block body %}
    <h1>Topics (HTML Tree)</h1>

    <div class="row g-3">
        <div class="col-md-6">
            {% set _sc = '@survos/tree-bundle/tree' %}
            <div {{ stimulus_controller(_sc, { plugins: ['search', 'sort'] }) }}>
                <input
                        {{ stimulus_action(_sc, 'search') }}
                        type="search"
                        class="form-control form-control-sm mb-2"
                        placeholder="Search topics"
                />

                <div {{ stimulus_target(_sc, 'html') }}>
                    {% tree item in entities %}
                        {% if treeloop.first %}<ul>{% endif %}
                        <li data-jstree='{"type":"default"}'>
                            {{ item.name }}
                            {% subtree item.children|default([]) %}
                        </li>
                        {% if treeloop.last %}</ul>{% endif %}
                    {% endtree %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div {{ stimulus_controller('topic') }}>
                <h3 {{ stimulus_target('topic', 'title') }}>Selection</h3>
                <pre class="border rounded p-3 bg-white" {{ stimulus_target('topic', 'results') }}>Select a topic node.</pre>
            </div>
        </div>
    </div>
{% endblock %}
